# OS
.DS_Store

# Python
__pycache__/
*.pyc
.python-version

# Environments
.env
venv/
.venv/

# Jupyter
.ipynb_checkpoints/

# Data (opsiyonel - büyükse tutma)
data/

# Experiments / local demos
usta-llm-demo/


